<?php

$vendorDir = __DIR__.'/vendor/symfony/src';

if (!file_exists($vendorDir.'/Symfony/Component/ClassLoader/UniversalClassLoader.php')) {
    throw new Exception('Failed to open: '.$vendorDir.'/Symfony/Component/ClassLoader/UniversalClassLoader.php. Using autoload.php.dist you should execute "php bin/vendor install"');
}

require_once $vendorDir.'/Symfony/Component/ClassLoader/UniversalClassLoader.php';

use Symfony\Component\ClassLoader\UniversalClassLoader;

$loader = new UniversalClassLoader();
$loader->registerNamespace('Symfony', $vendorDir);
$loader->register();

spl_autoload_register(function($class) {
    if (0 === strpos($class, 'Plemi\\Bundle\\PayboxBundle\\')) {
        require_once __DIR__.'/'.implode('/', array_slice(explode('\\', $class), 3)).'.php';
        return true;
    }
});
